.checkbox-class {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    visibility: hidden;
}
.box-class:hover > .checkbox-class {
    visibility: visible;
}
.box-class:has(> .checkbox-class:checked) {
    opacity: 0.5;
}
.checkbox-class:checked {
    visibility: visible;
}