.checkbox-class {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    visibility: hidden;
    z-index: 3;
    & :hover {
        visibility: visible;
        cursor: pointer;
    }
}

.box-class:hover > .checkbox-class {
    visibility: visible;
}