.checkbox-class {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 3;
    visibility: hidden;
}
.checkbox-class:checked {
    visibility: visible;
}
.image-class {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 0;
    transition: all 0.3s ease;
}
.wrapper {
    height: 12rem;
}
.featurebox {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 25.2rem;
    height: 25.2rem;
}
.wrapper-inner {
    height:auto;
    width: auto;
    border: 2px solid white;
    border-radius: 7px;
    box-shadow: 0px 2px 8px 0px #B9B4C7;
    transition: all 0.3s ease;
    background-color: white;
    position: relative;
    display: flex;
    cursor: drag;
}
.wrapper-inner:hover > .checkbox-class {
    visibility: visible;
}
.wrapper-inner:hover > .image-class {
    opacity: .5;
}
.wrapper-inner:has(> .checkbox-class:checked) {
    opacity: 0.5;
    background-color: white;
}
.wrapper-inner:hover:has(> .checkbox-class:checked) {
    background-color: white;
}
.wrapper-inner:hover {
    border: 2px solid darkgrey;
    transform: scale(1.05);
    background-color: rgba(0,0,0,.6);
}